$green: #5cb85c;
$gray: #bbb;

.story {
  width: 75vw;
  padding: 2vh 4vw;
  span {
    color: $gray;
  }
  .author {
    display: grid;
    a {
      color: $green;
    }
  }
}

.likes {
  display: flex;
  gap: 0.1rem;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
  color: $green;
  border: 1px solid $green;
  border-radius: 0.25em;
  line-height: 1.25;
  vertical-align: middle;
}

hr {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .story {
    padding: 1vh 4vw;
  }
}
