@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
$text: 'Source Sans Pro', sans-serif;
$title: 'Titillium Web', sans-serif;

body {
    font-family: $text;
}

h1,h2,h3 {
    font-weight: 700;
    font-size: 1.5rem;
}

h1 {
    font-family: $title;
}